<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.itwillbs.vCinema.mapper.CsMapper">
		<select id="selectCs" resultType="cs">
		SELECT *
		FROM cs
		WHERE cs_num = #{cs_num}	
	</select>     
    </mapper>