<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.itwillbs.vCinema.mapper.MovieMapper">
    <insert id="insertMovie">
		INSERT
		INTO movie
		VALUES (
			
			#{movie_code}
			, #{movie_name_kr}
			, #{movie_name_en}
			, #{movie_director}
			, #{movie_cast}
			, #{movie_genre}
			, #{movie_release_date}
			, now()
<!-- 			, #{movie_close_date} -->
			, #{movie_running_time}
			, #{movie_content}
			, #{movie_grade}
			, #{movie_poster}
			, #{movie_preview}
			, #{movie_photo}
			, #{movie_status}			  
		)
	</insert>
	
	<select id="selectMovie" resultType="movie">
		SELECT *
		FROM movie
		WHERE movie_code = #{movie_code}
	</select>
	
	<select id="selectPlayList" resultType="play">
		SELECT *
		FROM play
		WHERE play_num = #{play_num}
	</select>
	
	<select id="selectPlayListCount" resultType="int">
		SELECT count(*)
		FROM play
		
	</select>
	
	<select id="selectPlayList2" resultType="hashmap">
		SELECT *
		FROM movie m JOIN play p
		ON m.movie_code = p.play_movie_code
		JOIN theater t
		ON p.play_theater_num = t.theater_num
		JOIN room r
		ON p.play_room_num = r.room_num
        where r.room_theater_num = theater_num
			
	</select>
    
</mapper>