<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.itwillbs.vCinema.mapper.ReserveMapper">
    
    <select id="selectMovieList" resultType="movie">
        SELECT *
		FROM movie 
    </select>
    
<!--     <select id="selectTheaterList" resultType="theater"> -->
<!--         SELECT * -->
<!--         FROM theater -->
<!--     </select> -->

<!--     <select id="selectTheaterList" resultType="play"> -->
<!--         SELECT * -->
<!--         FROM play -->
<!--     </select> -->
    
    <select id="selectTheaterNum" resultType="theater">
        SELECT theater_num
        FROM theater
        WHERE 
        	theater_name = #{theater_name}
    </select>

	<select id="selectMovieList3" resultType="play">
    	SELECT *
		FROM play
		WHERE 
			play_theater_num = #{theater_num} 
			AND play_day = #{play_day}  
    </select>
    
    <select id="selectRoomList" resultType="play">
    	SELECT *
    	FROM play
    	WHERE 
    		play_movie_name_kr = #{play_movie_name_kr}
    		AND play_theater_name = #{play_theater_name} 
			AND play_day = #{play_day}  
    </select>
    
    <select id="selectMovieTimeList" resultType="play">
    	SELECT *
		FROM play
		WHERE 
			play_room_num = #{play_room_num}
			AND play_movie_name_kr = #{play_movie_name_kr}
    		AND play_theater_name = #{play_theater_name} 
			AND play_day = #{play_day}  
    </select>
    
    
    <select id="selectMember" resultType="member">
    	SELECT *
    	FROM member
    	WHERE member_id = #{sId}
    </select>
    
    <!-- 상영 날짜에 등록된 극장 가져오기 -->
    <select id="selectTheaterList" resultType="play">
    	SELECT *
    	FROM play
    	WHERE play_day = #{play_day}
    </select>
    
    
    <select id="selectMovieCode" resultType="String">
    	SELECT movie_code
    	FROM movie
    	WHERE movie_name_kr = #{movie_name}
    </select>
    
    <!-- 극장 코드 -->
    <select id="selectTheaterNum2" resultType="int">
   		SELECT theater_num
    	FROM theater
    	WHERE theater_name = #{theater_name}
    </select>
    
     <!-- 회원 번호 -->
    <select id="selectMemberNum" resultType="int">
   		SELECT member_num
    	FROM member
    	WHERE member_id = #{member_id}
    </select>
    
    <!-- 상영 번호 -->
    <select id="selectPlayNum" resultType="hashmap">
    	SELECT play_num
    	FROM play
    	WHERE 
    		play_movie_code = #{movieCode}
    		AND play_theater_num = #{theaterNum}
    		AND play_room_num = #{room}
    		AND play_start_time = #{time}
    		AND play_day = #{movie_date}
    </select>
    
    
    
    <!-- 예매 티켓에 입력 .. -->
    <insert id="insertOrderTicket">
    	<selectKey keyProperty="order_ticket_id" resultType="int" order="AFTER">
    		SELECT order_ticket_id
    		FROM order_ticket
    		WHERE 
    			order_ticket_movie_code = #{movieCode}
    			AND order_ticket_theater_num = #{theaterNum}
    			AND order_ticket_seat = #{order_ticket_seat_num}
    	</selectKey>
    	INSERT INTO order_ticket
    	VALUES (
    		null
    		, #{movieCode}
    		, #{theaterNum}
    		, #{order_ticket_room_num}
    		, #{playNum}
    		, 1
    		, #{memberNum}
    		, '개봉'
    		, #{order_ticket_date}
    		, #{order_ticket_how_many_people}
    		, #{order_ticket_seat_num}
    	)
    </insert>
    
    
    <select id="selectOrderTicket" resultType="orderTicket">
    	SELECT *
    	FROM order_ticket
    	WHERE order_ticket_id = #{order_ticket_id}
    </select>
    
    <select id="selectNowOrderTicket" resultType="orderTicket">
    	SELECT *
    	FROM order_ticket
    	WHERE order_ticket_id = #{order_ticket_id}
    </select>
    
</mapper>







