<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.vCinema.mapper.StoreMapper">
	<select id="selectItemList" resultType="store">
		SELECT * 
		FROM item
		ORDER BY item_id DESC
	</select>
	
	<select id="selectItem" resultType="store">
		SELECT * 
		FROM item
		WHERE item_id = #{item_id}
	</select>
	
	<insert id="insertOrderItem">
		<selectKey keyProperty="order_item_num" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(order_item_num), 0) -- order_item_num 최대값 조회(null 일 경우 기본값 0 사용)
			FROM order_item
		</selectKey>
		
		INSERT INTO order_item
		VALUES (
			#{order_item_num} + 1 -- selectKey 를 통회 조회된 상품 구매번호 + 1 값 사용
			, #{order_item_item_id} -- 상품 아이디
			, now() -- 상품 구매날짜(order_item_purchase_date)
			, #{order_item_sales_rate} -- 상품 판매량
			, #{order_item_sales_revenue} -- 상품 판매수익
			, #{order_item_member_num} -- 회원번호
		)
	</insert>
	
	<select id="selectOrderItem" resultType="orderItem">
		SELECT * 
		FROM order_item
		WHERE order_item_num = (SELECT MAX(order_item_num) -- 제일 최근 구매정보가 상품 구매번호가 가장 크므로
								FROM order_item)           -- 이를 기준으로 상품 구매정보 조회
	</select>
</mapper>